/* @media screen and (min-width: 1368px) and (max-width: 1368px) { */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0 auto;
  justify-content: center;

  width: 1368px;
  height: 100px;
  background-color: #fff;
  display: flex;
}

a,
ul,
nav {
  text-decoration: none;
  list-style: none;
}

.logo-link {
  color: #000;
  font-family: Quicksand;
  font-size: 32px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 38.4px */
  letter-spacing: 0.64px;
}

.button-nav {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: #0f8277;
  border: none;
  margin-top: 30px;
  margin-left: 44px;
  color: #eee;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.menu-header {
  list-style: none;
  padding: 0;
  position: relative;
}

.button-nav {
  background-color: #0f8277;
  color: #eee;
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
}

.menu-header li {
  position: relative;
}

.menu-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
  z-index: 1000;
}

.menu-header li:hover .menu-content {
  display: block;
  width: 384px;
  height: 558px;
  padding: 16px 12px 33px 12px;
  left: 30%;

  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

/* MENU  */
.drop-down-items {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.drop-down-items a {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-text {
  padding-bottom: 16px;
}

.title-item {
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.first-title {
  padding-top: 40px;
  font-weight: bold;
  padding-bottom: 16px;
}

.default-text {
  padding-bottom: 16px;
}

/* --------- */
.search-form {
  margin-top: 31px;
  position: relative;
  width: 300px;
  margin-left: 44px;
}

.search-form input {
  width: 330px;
  height: 36px;
  margin-top: -1px;
  padding-left: 12px;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  outline: none;
  color: #9e9c9c;
}

.search-form button {
  position: absolute;
  top: 0;
  left: 98%;
  width: 36px;
  height: 36px;
  border: none;
  border: 1px solid #5c5c5c;

  background: #0f8277;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.search-form button:before {
  font-family: Quicksand;
  font-size: 16px;
  color: #f9f0da;
}

.search-form input::placeholder {
  color: #5c5c5c;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.menu-courses {
  display: flex;
  gap: 48px;
  margin-left: 140px;
  margin-top: 40px;
}

.header-second_text {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.menu-login {
  display: flex;
  gap: 16px;
  /* margin-top: 40px; */
  margin-left: 125px;
  align-items: center;
}

.text-menu_login {
  color: #0f8277;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.text-menu_sign {
  color: #eee;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 12px;
  border-radius: 4px;
  background: #0f8277;
}

.container-main__header--area {
  position: relative;
  margin: 0 auto;
  width: 1296px;
  height: 602px;
  border-radius: 12px;
  background-color: #dbf3ed;
}

.container-main__general {
  position: absolute;
  margin-top: 170px;
  margin-left: 110px;
  width: 512px;
  height: 248px;
}

.container-main__general h1 {
  color: #000;
  font-family: Quicksand;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
}

.container-main__text--after {
  color: #000;
  font-family: Quicksand;
  font-size: 22px;
  padding: 32px 0 32px 0;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 26.4px */
}

.container-main__button--learning {
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 4px;
  border: none;
  background: #0f8277;
  color: #eee;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.container-main__button--more {
  padding: 9px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #0f8277;
  margin-left: 24px;
  color: #0f8277;
  background: none;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
}

.container-main__header--area img {
  float: right;
  margin-top: 39px;
  margin-right: 50px;
}

.container-main__academic--area {
  margin: 0 auto;
  margin-top: 80px;
  box-sizing: border-box;
  padding: 0 36px 0 36px;
  width: 1368px;
}

.container-main__academic--headertext {
  color: #0f8277;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
}

.container-main__acamic--choose {
  color: #000;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  padding: 12px 0 12px 0;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.container-main__acamic--after {
  color: #000;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  padding-bottom: 40px;
  font-weight: 500;
  line-height: 120%; /* 24px */
}

.container-main__card--first {
  width: 428px;
  border-radius: 8px;
  border: 1px solid #dadada;
}

.container-main__card--content {
  padding: 24px 16px 24px 16px;
  display: flex;
  height: 210px;
  box-sizing: border-box;
  flex-direction: column;
}
.conatiner-main__card--firsttext {
  color: #000;
  display: flex;
  gap: 12px;
  font-family: Quicksand;
  font-size: 16px;
  white-space: nowrap;

  font-style: normal;
  padding-bottom: 16px;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.container-main__card--secondtext {
  color: #000;
  font-family: Quicksand;
  font-size: 24px;
  flex: 1 1 auto;
  vertical-align: top;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}

.container-main__diploma {
  color: #0f8277;
  display: flex;
  gap: 12px;

  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.container-main__card--first img {
  border-radius: 8px 8px 0 0;
}

.container-general__card--flex {
  display: flex;
  gap: 24px;
}

.container-platform__card--first {
  width: 306px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #dadada;
}

.more-courses__navigation {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  color: #0f8277;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
}

.container-general__feature {
  width: 1296px;
  height: 432px;
  margin-top: 83px;
}

.container-general__header--featured {
  color: #000;
  font-family: Quicksand;
  font-size: 40px;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.contaier-general__category--flex h3 {
  color: #000;
  font-family: Quicksand;
  font-size: 24px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
}

.container-general__header--text {
  color: #0f8277;
  font-family: Quicksand;
  font-size: 20px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
}

.container-general__text--students {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.container-general__category {
  width: 306px;
  height: 284px;
}

.contaier-general__category--flex {
  display: flex;
  gap: 24px;
}

/* --------------- */
.container {
  padding: 0 36px 0 36px;
  max-width: 1368px;
  margin: 0 auto;
}

.container-main__cooperater--general {
  background: #dbf3ed;
  width: 100%;
  padding: 0 36px 0 36px;
  margin-top: 80px;
}

.container-main__cooperater--header {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  padding-top: 80px;
  padding-bottom: 80px;
  font-weight: 700;
  line-height: 120%;
}

.container-main__coperater--main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  align-items: center;
}

.container-ideal__general--area {
  width: 100%;
  padding: 0 36px 0 36px;
  box-sizing: border-box;
  margin-top: 80px;
  margin-bottom: 70px;
}

/* ------------------------- */
.container-bussines {
  padding: 0 32px 0 32px;
  padding-bottom: 70px;
  margin-top: 80px;
}

.container-bussines__content {
  max-width: 636px;
  width: 50%;
  height: 277px;
  margin-top: 67px;
}

.container-bussines__content h5 {
  color: #000;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.container-bussines__content p {
  color: #000;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  padding: 32px 0 32px 0;
  font-weight: 600;
  line-height: 120%; /* 26.4px */
}

.container-bussines__content button {
  color: #eee;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */

  border: none;
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 4px;
  background: #0f8277;
}

.container-bussines .block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 70px;
}

.container-bussines {
  display: flex;
  justify-content: center;
}

.block .img {
  width: 196px;
  height: 136px;
  background-repeat: no-repeat;
  background-position: center;
}
.loreal {
  background-image: url(../companies/image\ 23.png);
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}
.pg {
  background-image: url(../companies/image\ 24.png);
  border-bottom: 1px solid #bababa;
}
.reliance {
  background-image: url(../companies/image\ 28.png);
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
}
.danone {
  background-image: url(../companies/image\ 26.png);
  border-right: 1px solid #bababa;
}
.tata {
  background-image: url(../companies/image\ 25.png);
}
.emirates {
  background-image: url(../companies/image\ 27.png);
  border-left: 1px solid #bababa;
}
.capgemini {
  background-image: url(../companies/image\ 29.png);
  border-top: 1px solid #bababa;
  border-right: 1px solid #bababa;
}
.ge {
  background-image: url(../companies/image\ 30.png);
  border-top: 1px solid #bababa;
}
.petrobras {
  background-image: url(../companies/image\ 31.png);
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
}

.container-bussiness__middle {
  display: flex;
}

.block {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-left: 72px;
}

.plans-section {
  background-color: #dbf3ed;
  margin: 0 auto;
}
.plans-title {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  padding: 80px 0 40px 0px;
}
.card-head {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  padding-bottom: 27px;
}
.card-description {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  padding-bottom: 27px;
}
.plan-price {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  padding-bottom: 75px;
}
.last-plan-price {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  padding-bottom: 44px;
}
.price-period {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}
.card-button {
  border-radius: 4px;
  background: #0f8277;
  width: 132px;
  height: 40px;
  border: none;
  color: #eee;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 52px;
}
.card-button a {
  text-decoration: none;
  color: white;
}
.description-list {
  border-top: 2px solid #0f8277;
  padding: 48px;
}
.description-list,
.second-description-list li img {
  float: left;
  margin-right: 10px;
}

.description-list li {
  background-size: auto;
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  padding-bottom: 18px;
  list-style-type: revert;
}
.first-plans-card {
  width: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  padding: 56px;
}
.second-plans-card {
  width: 416px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #0f8277;
  background-color: #0f8277;
  padding: 56px;
}
.second-card-head {
  color: #ffffff;
  text-align: center;
  font-family: Quicksand;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 28.8px */
  padding-bottom: 27px;
}
.second-card-description {
  color: #ffffff;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  padding-bottom: 27px;
}
.second-plan-price {
  color: #ffffff;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  padding-bottom: 30px;
}
.second-price-period {
  color: #ffffff;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}
.second-card-button {
  border-radius: 4px;
  background: #0f8277;
  width: 132px;
  height: 40px;
  border: 1px solid white;
  color: #eee;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  margin-bottom: 48px;
}
.second-card-button a {
  text-decoration: none;
  color: white;
}
.second-description-list {
  border-top: 2px solid #ffffff;
  padding: 48px;
}
.second-description-list li {
  background-size: auto;
  color: #ffffff;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  padding-bottom: 18px;
}
.plans-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}

/* ------- */
.student-block h8 {
  color: #000;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

.container-grid {
  display: grid;
  grid-template-columns: 306px 306px 306px 306px;
  gap: 24px;
  padding-bottom: 76px;
}

.students {
  width: 306px;
}
.general {
  grid-row: 1/3;
  grid-column: 2/4;
  width: 636px;
}

.contact-section {
  background-image: url("../img/image\ 32.png");
  height: 678px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.form {
  width: 518px;
  height: 614px;
  z-index: 3000;
  border-radius: 24px;
  background-color: #dbf3ed;
  padding: 30px;
}
.form-description {
  color: #000;
  display: flex;
  text-align: center;
  font-family: Quicksand;
  white-space: nowrap;
  font-size: 20px;
  padding: 24px 0 24px 0;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  width: 100%;
}
.form-title {
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;

  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.title-head {
  color: #000;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
input {
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  width: 100%;
  margin-top: 8px;
  box-sizing: border-box;
  height: 48px;
  color: #8e8e8e;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding-left: 10px;

  line-height: 24px; /* 150% */
}
textarea {
  width: 100%;
  height: 104px;
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  color: #8e8e8e;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding-left: 10px;
  padding-top: 10px;
}

.input {
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  width: 100%;
  box-sizing: border-box;
  color: #8e8e8e;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  margin-top: 8px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;
  max-width: 505px;
}

.learning-button {
  display: flex;
  width: 196px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 4px;
  background: #0f8277;
  border: none;
  color: #f6fdff;
  text-align: center;
  font-family: Cabin;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}

.left-footer {
  width: 306px;
  height: 111px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 64px 36px;
  background: #f1f1f1;
  align-items: flex-start;
  gap: 684px;
}

.footer-text {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  padding-top: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}

.right-footer {
  width: 306px;
  height: 111px;
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  gap: 24px;
  justify-content: right;
}

.inc-footer {
  color: #000;
  text-align: right;
  font-family: Quicksand;
  font-size: 16px;
  padding-top: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
}
/* } */
